/***** MOBILE-FIRST WORKFLOW *****/
/* variables and colors */
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --font-size-paragraph: 16px;
}

/* RESET BROWSER STYLES */
html,
body {
    margin: 0;
    padding: 0;
}

/* LAYOUT */
body {
    background-color: var(--pale-blue);
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: repeat-x;
    font-family: "Red Hat Display", sans-serif;
    min-height: 100dvh;
    display: grid;
    place-content: center;
    place-items: center;
}

main {
    width: 90%;
}

/* CARD */
.card {
    max-width: 450px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

#hero-image {
    width: 100%;
    display: block;
}

/* TEXT CONTENT */
.card-info {
    color: var(--desaturated-blue);
    text-align: center;
    padding: 24px;
    box-sizing: border-box;
}

.heading {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-blue);
}

.desc {
    line-height: 1.5;
    padding: 0 12px;
}

.price-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin: 12px 0;
    padding: 4px 16px;
    background-color: var(--very-pale-blue);
    text-align: left;
}

.bold {
    font-weight: 900;
    color: var(--dark-blue)
}

.price-container a {
    color: var(--bright-blue);
    font-weight: 900;
    margin-left: auto;
}

.price-container a:hover {
    text-decoration: none;
    opacity: 0.8;
    user-select: none;
}

/* BUTTONS */
.pay-btn {
    display: block;
    width: 100%;
    padding: 12px 16px;
    background-color: var(--bright-blue);
    color: white;
    font-weight: 900;
    border-radius: 10px;
    font-family: inherit;
    border: none;
    margin: 24px 0;
    font-size: 1rem;
    box-shadow: 0 10px 20px 0 hsla(223, 47%, 23%, 25%);
}

.pay-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.cancel-btn {
    background: none;
    font-weight: 900;
    color: var(--desaturated-blue);
    border: none;
    font-family: inherit;
    font-size: 1rem;
}

.cancel-btn:hover {
    color: var(--dark-blue);
    cursor: pointer;
}

/***** ATTRIBUTION *****/
.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: var(--bright-blue);
    text-decoration: none;
}

/***** RESPONSIVE LAYOUT *****/
@media only screen and (min-width: 768px) {
    body {
        background-color: var(--pale-blue);
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: repeat-x;
    }

    main {
        width: 100%;
        max-width: 450px;
        max-height: 700px;
    }

    .card-info {
        padding: 25px 50px;
    }

    .heading {
        font-size: 1.75rem;
    }
}